<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tabi</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <header>
    <nav class="navbar">
      <div>
        <a href="./index.ejs" class="">
          <!-- <img
            src="Logo"
            alt="Tabi Logo"
          /> -->
          旅 Tabi</a
        >
        <form action="/createNewEntry" method="get">
          <input class="newEntry" type="submit" value="New Entry" />
        </form>
      </div>
    </nav>
  </header>
  <main></main>
</html>
