<%- include("header.ejs") %>
<div class="hero-content">
  <div class="entry-btn">
    <form action="/" method="GET">
      <img src="/img/back.png" alt="back arrow icon" />
      <input type="submit" class="btn" value="Cancel" />
    </form>
  </div>
  <div>
    <form action="/createNewEntry" method="post" class="create-entry-form">
      <label for="title">Title</label>
      <input
        name="title"
        type="text"
        placeholder="Enter Your Post Title"
        class="entry-input title-input"
      />
      <label for="content">Content</label>
      <textarea
        rows="10"
        name="content"
        type="text"
        placeholder="Write your post here.."
        class="entry-input"
      ></textarea>

      <label for="tag">Tag</label>
      <input
        name="tag"
        type="text"
        placeholder="add tags seperated by commas "
        class="entry-input tag-input"
      />
      <input class="newEntry" name="Save" type="submit" value="Save" />
    </form>
  </div>
</div>
