<%- include("header.ejs") %>
<div class="hero-content">
  <div class="entry-btn">
    <img src="/img/back.png" alt="back arrow icon" />
    <a class="btn" href="index.ejs"> Cancel</a>
  </div>
  <div>
    <form action="/createNewEntry" method="post" class="create-entry-form">
      <label for="title">Title</label>
      <input
        name="title"
        type="text"
        placeholder="Enter Your Post Title"
        class="entry-input title-input"
      />
      <label for="content">Content</label>
      <input
        name="content"
        type="text"
        placeholder="Post Content"
        class="entry-input"
      />
      <label for="tag">Tag</label>
      <input
        name="tag"
        type="text"
        placeholder="add tags seperated by commas "
        class="entry-input tag-input"
      />
      <input class="newEntry" name="Save" type="submit" value="Save" />
    </form>
  </div>
</div>
