@font-face {
    font-family: ClashDisplay;
    src: url(./ClashDisplay_Complete/Fonts/Variable/ClashDisplay-Variable.ttf);
}

body,
main {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: ClashDisplay;
    background-color: #f7eee2;
}

a {
    text-decoration: none;
    color: black;
}


.newEntry {
    font-family: ClashDisplay;
    font-size: 1rem;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color: black;
    border: 2px solid rgb(0, 0, 0);
    background-color: #f7eee2;
    border-radius: 20px;
    cursor: pointer;
}

.btn {
    font-family: ClashDisplay;
    font-size: 1rem;
    cursor: pointer;
    padding: 10px;
    border: none;
    color: #934a13;
    background-color: #f7eee2;
    border-radius: 20px;
}

.navbar {
    margin: 0;
    background-color: white;
    width: 100%;
    height: 23vh;
    display: flex;
    align-items: center;
}

.navbar>div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
}

.hero-content {
    height: 120vh;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #3a3633;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
}

.p-text {
    width: 60%;
}

p {
    text-align: center;
    font-size: 1.0rem;
    line-height: 25px;
}

.post-container {
    padding-left: 80px;
    padding-right: 80px;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;

}

img {
    width: 24px;
    height: 24px;
}

.post-holder {
    margin: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 10px #d6d3d1;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    align-self: center;
    width: 60%;
    height: 30vh;
}

.post-holder>.post {
    overflow: hidden;
    display: flex;
    align-items: start;
    flex-direction: column;
    cursor: pointer;
}

.post-holder>.post>p {
    line-height: 30px;
    text-align: left;
}

.post-holder>.post>h1 {
    font-size: 2rem;
    margin: 0;
    text-align: start;
}

.post-holder>.post>h1:hover {
    text-decoration: underline #3a3633;
}

.post-holder>div>p {
    text-align: start;
}

.post-holder>p {
    margin: 0;
    text-align: start;
    line-height: 20px;
}

.underline {
    width: 40px;
    height: 1px;
    background-color: #934a13;
    border-radius: 1px;
}

.entry-btn {
    display: flex;
    align-items: center;
    justify-content: start;
}

.entry-input {
    margin-top: 20px;
    margin-bottom: 50px;
    height: 20vh;
    font-family: ClashDisplay;
    border: 1px solid #3a3633;
    background-color: white;
    color: #934a13;
    font-size: 1rem;
    border-radius: 10px;
    padding: 5px;
    background-color: white;

}

.title-input {
    font-size: 1.5rem;
    height: 10vh;
    background-color: inherit;
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid #934a13;
}

.title-input:focus {
    border: none;
    border-bottom: 2px solid #934a13;
    outline: none;
}

.tag-input {
    height: 8vh;
}

.hero-content>div {
    width: 80%;
}

.create-entry-form {
    margin: 40px 0px 40px 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.create-entry-form>label {
    color: #3a3633;
}


@media (max-width:"762px") {
    .post-container {
        grid-template-columns: 1fr 1fr;
    }
}